{% extends "base.html" %}

{% block title %}
Shopping Cart
{% endblock %}

{% block content %}

<div class="container mt-5">

    <h1>Shopping Cart</h1>

    <hr>

    {% if products %}

        <table class="table">

            <thead>

                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                    <th>Action</th>
                </tr>

            </thead>

            <tbody>

            {% for product in products %}

                <tr>

    <td>

        <div class="d-flex align-items-center">

            <img
                src="{{ product.thumbnail.url }}"
                width="80"
                class="rounded me-3"
                alt="{{ product.title }}">

            <div>

                <strong>{{ product.title }}</strong>

            </div>

        </div>

    </td>

    <td>

        ${{ product.price }}

    </td>

    {% comment %} <td>

        {{ item.quantity }}

    </td> {% endcomment %}

    <td>

        ${{ product.price }}

    </td>

    <td>

        <form
            action="{% url 'cart:remove' product.id %}"
            method="post">

            {% csrf_token %}

            <button
                class="btn btn-danger btn-sm">

                Remove

            </button>

        </form>

    </td>

</tr>

            {% endfor %}

            </tbody>

        </table>

        <h3>Total: ${{ total }}</h3>

    {% else %}

        <p>Your cart is empty.</p>

    {% endif %}

</div>

{% endblock %}