{% extends "base.html" %}

{% block content %}

<div class="container py-5">

    <div class="row justify-content-center">

        <div class="col-md-8">

            <div class="card shadow-sm">

                <div class="card-body p-4">

                    <h2 class="mb-4">
                        My Profile
                    </h2>

                    <form
                        method="POST"
                        enctype="multipart/form-data"
                    >

                        {% csrf_token %}

                        <h5>Account Information</h5>

                        {{ user_form.as_p }}

                        <hr>

                        <h5>Profile Information</h5>

                        {{ profile_form.as_p }}

                        <button
                            type="submit"
                            class="btn btn-primary"
                        >

                            Save Changes

                        </button>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}