<footer class="bg-dark text-white py-5 mt-5">

    <div class="container">

        <div class="row">

            <div class="col-lg-4">

                <h5>LosTemplates</h5>

                <p>
                    Premium downloadable templates
                    for developers, designers,
                    students, and businesses.
                </p>

            </div>

            <div class="col-lg-4">

                <h5>Quick Links</h5>

                <ul class="list-unstyled">

                    <li><a href="/" class="text-white">Home</a></li>

                    <li><a href="/products/" class="text-white">Templates</a></li>

                </ul>

            </div>

            <div class="col-lg-4">

                <h5>Contact</h5>

                <p>
                    support@lostemplates.com
                </p>

            </div>

        </div>

        <hr>

        <div class="text-center">

            © 2026 LosTemplates

        </div>

    </div>

</footer>