<nav class="navbar navbar-expand-lg bg-white border-bottom sticky-top">

    <div class="container">

        <a class="navbar-brand fw-bold" href="/">

            LosTemplates

        </a>

        <button
            class="navbar-toggler"
            data-bs-toggle="collapse"
            data-bs-target="#navbarMenu">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div
            class="collapse navbar-collapse"
            id="navbarMenu">

            <ul class="navbar-nav me-auto">

                <li class="nav-item">

                    <a class="nav-link" href="/">

                        Home

                    </a>

                </li>

                <li class="nav-item">

                    <a class="nav-link"
                       href="/products/">

                        Templates

                    </a>

                </li>

            </ul>

            <form class="d-flex me-3">

                <input
                    class="form-control"
                    type="search"
                    placeholder="Search templates">

            </form>

            {% if user.is_authenticated %}

    <span class="me-3">
        Hello, {{ user.username }}
    </span>

    <a href="/accounts/logout/" class="btn btn-outline-danger">
        Logout
    </a>

{% else %}

    <a href="/accounts/login/" class="btn btn-outline-primary me-2">
        Login
    </a>

    <a href="/accounts/register/" class="btn btn-primary">
        Register
    </a>

{% endif %}

        </div>

    </div>

</nav>