{% extends "base.html" %}

{% block content %}

<div class="container mt-5">

    <h2>Order #{{ order.id }}</h2>

    <p>Status: {{ order.status }}</p>

    <p>Total: ${{ order.total_price }}</p>

    <hr>

    <h4>Items</h4>

    <ul class="list-group">

        {% for item in order.items.all %}

            {% for item in order.items.all %}

    <li class="list-group-item d-flex justify-content-between align-items-center">

        {{ item.product.title }}

        <div>
            <span class="me-3">${{ item.price }}</span>

            <a href="{% url 'orders:download' item.id %}"
               class="btn btn-sm btn-success">

                Download

            </a>
        </div>

    </li>

{% endfor %}

        {% endfor %}

    </ul>

</div>

{% endblock %}